* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.myCustomHeight {
  padding: 1rem;
}

.modal {
  background-color: rgba(12, 12, 12, 0.8);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.disabled-date {
  background-color: red;
  cursor: not-allowed;
}